@page "/"
@using ChurchApp.Data
@using BlazorInputFile
@using System.IO
@inject IntegranteService service


<center>
    <br>
<h2>Datos Pesonales</h2>
<br>
</center>
<div>
  <EditForm Model="@NewIntegrante"> 
<div>


 
<label for="exampleInputEmail1">Sexo : </label>&nbsp;&nbsp;
<select name="Sexo" @bind="@NewIntegrante.Sexo">
     <option value="Seleccionar">Seleccionar</option>
     <option value="Hombre" >Hombre</option>
     <option value="Mujer">Mujer</option>
     
     </select>

     <div class="form-group image">
                    <label for="nombre">Imagen :</label>
                    <InputFile OnChange="HandleSelectImagen"></InputFile>
                </div>

 
</div>
<br>
<center>

 <div class="form-group">
  <div class="row">
      <div class="col">
  <label for="exampleInputEmail1">Nombres </label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombre" @bind-value="@NewIntegrante.Nombre">
  </div>
  <br>
  <div class="col">
  <label for="exampleInputEmail1">Apellidos </label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Apellido" @bind-value="@NewIntegrante.Apellidos">
    </div>
    </div>
   <div class="row">
    <div class="col">
          <br>
          <br>
  <label for="exampleInputEmail1">Fecha de Nacimiento </label>
    <input id="date" type="date" @bind-value="@NewIntegrante.Fecha_Nacimiento">
    </div>
     <div class="col">
           <br>
           <br>
<label for="exampleInputEmail1">Pais de Nacimiento</label>
<select name="pais" @bind="@NewIntegrante.Pais_Nacimiento">
  <option value="Seleccionar" >Seleccionar</option>
  <option value="AF">Afganistán</option>
  <option value="AL">Albania</option>
  <option value="DE">Alemania</option>
  <option value="AD">Andorra</option>
  <option value="AO">Angola</option>
  <option value="AI">Anguilla</option>
  <option value="AQ">Antártida</option>
  <option value="AG">Antigua y Barbuda</option>
  <option value="AN">Antillas Holandesas</option>
  <option value="SA">Arabia Saudí</option>
  <option value="DZ">Argelia</option>
  <option value="AR">Argentina</option>
  <option value="AM">Armenia</option>
  <option value="AW">Aruba</option>
  <option value="AU">Australia</option>
  <option value="AT">Austria</option>
  <option value="AZ">Azerbaiyán</option>
  <option value="BS">Bahamas</option>
  <option value="BH">Bahrein</option>
  <option value="BD">Bangladesh</option>
  <option value="BB">Barbados</option>
  <option value="BE">Bélgica</option>
  <option value="BZ">Belice</option>
  <option value="BJ">Benin</option>
  <option value="BM">Bermudas</option>
  <option value="BY">Bielorrusia</option>
  <option value="MM">Birmania</option>
  <option value="BO">Bolivia</option>
  <option value="BA">Bosnia y Herzegovina</option>
  <option value="BW">Botswana</option>
  <option value="BR">Brasil</option>
  <option value="BN">Brunei</option>
  <option value="BG">Bulgaria</option>
  <option value="BF">Burkina Faso</option>
  <option value="BI">Burundi</option>
  <option value="BT">Bután</option>
  <option value="CV">Cabo Verde</option>
  <option value="KH">Camboya</option>
  <option value="CM">Camerún</option>
  <option value="CA">Canadá</option>
  <option value="TD">Chad</option>
  <option value="CL">Chile</option>
  <option value="CN">China</option>
  <option value="CY">Chipre</option>
  <option value="VA">Ciudad del Vaticano (Santa Sede)</option>
  <option value="CO">Colombia</option>
  <option value="KM">Comores</option>
  <option value="CG">Congo</option>
  <option value="CD">Congo, República Democrática del</option>
  <option value="KR">Corea</option>
  <option value="KP">Corea del Norte</option>
  <option value="CI">Costa de Marfíl</option>
  <option value="CR">Costa Rica</option>
  <option value="HR">Croacia (Hrvatska)</option>
  <option value="CU">Cuba</option>
  <option value="DK">Dinamarca</option>
  <option value="DJ">Djibouti</option>
  <option value="DM">Dominica</option>
  <option value="EC">Ecuador</option>
  <option value="EG">Egipto</option>
  <option value="SV">El Salvador</option>
  <option value="AE">Emiratos Árabes Unidos</option>
  <option value="ER">Eritrea</option>
  <option value="SI">Eslovenia</option>
  <option value="ES" >España</option>
  <option value="US">Estados Unidos</option>
  <option value="EE">Estonia</option>
  <option value="ET">Etiopía</option>
  <option value="FJ">Fiji</option>
  <option value="PH">Filipinas</option>
  <option value="FI">Finlandia</option>
  <option value="FR">Francia</option>
  <option value="GA">Gabón</option>
  <option value="GM">Gambia</option>
  <option value="GE">Georgia</option>
  <option value="GH">Ghana</option>
  <option value="GI">Gibraltar</option>
  <option value="GD">Granada</option>
  <option value="GR">Grecia</option>
  <option value="GL">Groenlandia</option>
  <option value="GP">Guadalupe</option>
  <option value="GU">Guam</option>
  <option value="GT">Guatemala</option>
  <option value="GY">Guayana</option>
  <option value="GF">Guayana Francesa</option>
  <option value="GN">Guinea</option>
  <option value="GQ">Guinea Ecuatorial</option>
  <option value="GW">Guinea-Bissau</option>
  <option value="HT">Haití</option>
  <option value="HN">Honduras</option>
  <option value="HU">Hungría</option>
  <option value="IN">India</option>
  <option value="ID">Indonesia</option>
  <option value="IQ">Irak</option>
  <option value="IR">Irán</option>
  <option value="IE">Irlanda</option>
  <option value="BV">Isla Bouvet</option>
  <option value="CX">Isla de Christmas</option>
  <option value="IS">Islandia</option>
  <option value="KY">Islas Caimán</option>
  <option value="CK">Islas Cook</option>
  <option value="CC">Islas de Cocos o Keeling</option>
  <option value="FO">Islas Faroe</option>
  <option value="HM">Islas Heard y McDonald</option>
  <option value="FK">Islas Malvinas</option>
  <option value="MP">Islas Marianas del Norte</option>
  <option value="MH">Islas Marshall</option>
  <option value="UM">Islas menores de Estados Unidos</option>
  <option value="PW">Islas Palau</option>
  <option value="SB">Islas Salomón</option>
  <option value="SJ">Islas Svalbard y Jan Mayen</option>
  <option value="TK">Islas Tokelau</option>
  <option value="TC">Islas Turks y Caicos</option>
  <option value="VI">Islas Vírgenes (EEUU)</option>
  <option value="VG">Islas Vírgenes (Reino Unido)</option>
  <option value="WF">Islas Wallis y Futuna</option>
  <option value="IL">Israel</option>
  <option value="IT">Italia</option>
  <option value="JM">Jamaica</option>
  <option value="JP">Japón</option>
  <option value="JO">Jordania</option>
  <option value="KZ">Kazajistán</option>
  <option value="KE">Kenia</option>
  <option value="KG">Kirguizistán</option>
  <option value="KI">Kiribati</option>
  <option value="KW">Kuwait</option>
  <option value="LA">Laos</option>
  <option value="LS">Lesotho</option>
  <option value="LV">Letonia</option>
  <option value="LB">Líbano</option>
  <option value="LR">Liberia</option>
  <option value="LY">Libia</option>
  <option value="LI">Liechtenstein</option>
  <option value="LT">Lituania</option>
  <option value="LU">Luxemburgo</option>
  <option value="MK">Macedonia, Ex-República Yugoslava de</option>
  <option value="MG">Madagascar</option>
  <option value="MY">Malasia</option>
  <option value="MW">Malawi</option>
  <option value="MV">Maldivas</option>
  <option value="ML">Malí</option>
  <option value="MT">Malta</option>
  <option value="MA">Marruecos</option>
  <option value="MQ">Martinica</option>
  <option value="MU">Mauricio</option>
  <option value="MR">Mauritania</option>
  <option value="YT">Mayotte</option>
  <option value="MX">México</option>
  <option value="FM">Micronesia</option>
  <option value="MD">Moldavia</option>
  <option value="MC">Mónaco</option>
  <option value="MN">Mongolia</option>
  <option value="MS">Montserrat</option>
  <option value="MZ">Mozambique</option>
  <option value="NA">Namibia</option>
  <option value="NR">Nauru</option>
  <option value="NP">Nepal</option>
  <option value="NI">Nicaragua</option>
  <option value="NE">Níger</option>
  <option value="NG">Nigeria</option>
  <option value="NU">Niue</option>
  <option value="NF">Norfolk</option>
  <option value="NO">Noruega</option>
  <option value="NC">Nueva Caledonia</option>
  <option value="NZ">Nueva Zelanda</option>
  <option value="OM">Omán</option>
  <option value="NL">Países Bajos</option>
  <option value="PA">Panamá</option>
  <option value="PG">Papúa Nueva Guinea</option>
  <option value="PK">Paquistán</option>
  <option value="PY">Paraguay</option>
  <option value="PE">Perú</option>
  <option value="PN">Pitcairn</option>
  <option value="PF">Polinesia Francesa</option>
  <option value="PL">Polonia</option>
  <option value="PT">Portugal</option>
  <option value="PR">Puerto Rico</option>
  <option value="QA">Qatar</option>
  <option value="UK">Reino Unido</option>
  <option value="CF">República Centroafricana</option>
  <option value="CZ">República Checa</option>
  <option value="ZA">República de Sudáfrica</option>
  <option value="DO">República Dominicana</option>
  <option value="SK">República Eslovaca</option>
  <option value="RE">Reunión</option>
  <option value="RW">Ruanda</option>
  <option value="RO">Rumania</option>
  <option value="RU">Rusia</option>
  <option value="EH">Sahara Occidental</option>
  <option value="KN">Saint Kitts y Nevis</option>
  <option value="WS">Samoa</option>
  <option value="AS">Samoa Americana</option>
  <option value="SM">San Marino</option>
  <option value="VC">San Vicente y Granadinas</option>
  <option value="SH">Santa Helena</option>
  <option value="LC">Santa Lucía</option>
  <option value="ST">Santo Tomé y Príncipe</option>
  <option value="SN">Senegal</option>
  <option value="SC">Seychelles</option>
  <option value="SL">Sierra Leona</option>
  <option value="SG">Singapur</option>
  <option value="SY">Siria</option>
  <option value="SO">Somalia</option>
  <option value="LK">Sri Lanka</option>
  <option value="PM">St Pierre y Miquelon</option>
  <option value="SZ">Suazilandia</option>
  <option value="SD">Sudán</option>
  <option value="SE">Suecia</option>
  <option value="CH">Suiza</option>
  <option value="SR">Surinam</option>
  <option value="TH">Tailandia</option>
  <option value="TW">Taiwán</option>
  <option value="TZ">Tanzania</option>
  <option value="TJ">Tayikistán</option>
  <option value="TF">Territorios franceses del Sur</option>
  <option value="TP">Timor Oriental</option>
  <option value="TG">Togo</option>
  <option value="TO">Tonga</option>
  <option value="TT">Trinidad y Tobago</option>
  <option value="TN">Túnez</option>
  <option value="TM">Turkmenistán</option>
  <option value="TR">Turquía</option>
  <option value="TV">Tuvalu</option>
  <option value="UA">Ucrania</option>
  <option value="UG">Uganda</option>
  <option value="UY">Uruguay</option>
  <option value="UZ">Uzbekistán</option>
  <option value="VU">Vanuatu</option>
  <option value="VE">Venezuela</option>
  <option value="VN">Vietnam</option>
  <option value="YE">Yemen</option>
  <option value="YU">Yugoslavia</option>
  <option value="ZM">Zambia</option>
  <option value="ZW">Zimbabue</option>
  </select>

      </div>
      </div>

    <br>
<div class="form-group">
  <div class="row">
      <div class="col">
<label for="exampleInputEmail1">Ciudad de Nacimiento </label>
 <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Ciudad" @bind-value="@NewIntegrante.Ciudad_Nacimiento">
  </div>
  <br>
  
  <div class="col">
      <br>
      <br>
<label for="exampleInputEmail1">Pais de Residencia actual </label>
<select name="pais" @bind="@NewIntegrante.Pais_Residencia" >
     <option value="Seleccionar">Seleccionar</option>
     <option value="AF">Afganistán</option>
     <option value="AL">Albania</option>
     <option value="DE">Alemania</option>
     <option value="AD">Andorra</option>
     <option value="AO">Angola</option>
     <option value="AI">Anguilla</option>
     <option value="AQ">Antártida</option>
     <option value="AG">Antigua y Barbuda</option>
     <option value="AN">Antillas Holandesas</option>
     <option value="SA">Arabia Saudí</option>
     <option value="DZ">Argelia</option>
     <option value="AR">Argentina</option>
     <option value="AM">Armenia</option>
     <option value="AW">Aruba</option>
     <option value="AU">Australia</option>
     <option value="AT">Austria</option>
     <option value="AZ">Azerbaiyán</option>
     <option value="BS">Bahamas</option>
     <option value="BH">Bahrein</option>
     <option value="BD">Bangladesh</option>
     <option value="BB">Barbados</option>
     <option value="BE">Bélgica</option>
     <option value="BZ">Belice</option>
     <option value="BJ">Benin</option>
     <option value="BM">Bermudas</option>
     <option value="BY">Bielorrusia</option>
     <option value="MM">Birmania</option>
     <option value="BO">Bolivia</option>
     <option value="BA">Bosnia y Herzegovina</option>
     <option value="BW">Botswana</option>
     <option value="BR">Brasil</option>
     <option value="BN">Brunei</option>
     <option value="BG">Bulgaria</option>
     <option value="BF">Burkina Faso</option>
     <option value="BI">Burundi</option>
     <option value="BT">Bután</option>
     <option value="CV">Cabo Verde</option>
     <option value="KH">Camboya</option>
     <option value="CM">Camerún</option>
     <option value="CA">Canadá</option>
     <option value="TD">Chad</option>
     <option value="CL">Chile</option>
     <option value="CN">China</option>
     <option value="CY">Chipre</option>
     <option value="VA">Ciudad del Vaticano (Santa Sede)</option>
     <option value="CO">Colombia</option>
     <option value="KM">Comores</option>
     <option value="CG">Congo</option>
     <option value="CD">Congo, República Democrática del</option>
     <option value="KR">Corea</option>
     <option value="KP">Corea del Norte</option>
     <option value="CI">Costa de Marfíl</option>
     <option value="CR">Costa Rica</option>
     <option value="HR">Croacia (Hrvatska)</option>
     <option value="CU">Cuba</option>
     <option value="DK">Dinamarca</option>
     <option value="DJ">Djibouti</option>
     <option value="DM">Dominica</option>
     <option value="EC">Ecuador</option>
     <option value="EG">Egipto</option>
     <option value="SV">El Salvador</option>
     <option value="AE">Emiratos Árabes Unidos</option>
     <option value="ER">Eritrea</option>
     <option value="SI">Eslovenia</option>
     <option value="ES" >España</option>
     <option value="US">Estados Unidos</option>
     <option value="EE">Estonia</option>
     <option value="ET">Etiopía</option>
     <option value="FJ">Fiji</option>
     <option value="PH">Filipinas</option>
     <option value="FI">Finlandia</option>
     <option value="FR">Francia</option>
     <option value="GA">Gabón</option>
     <option value="GM">Gambia</option>
     <option value="GE">Georgia</option>
     <option value="GH">Ghana</option>
     <option value="GI">Gibraltar</option>
     <option value="GD">Granada</option>
     <option value="GR">Grecia</option>
     <option value="GL">Groenlandia</option>
     <option value="GP">Guadalupe</option>
     <option value="GU">Guam</option>
     <option value="GT">Guatemala</option>
     <option value="GY">Guayana</option>
     <option value="GF">Guayana Francesa</option>
     <option value="GN">Guinea</option>
     <option value="GQ">Guinea Ecuatorial</option>
     <option value="GW">Guinea-Bissau</option>
     <option value="HT">Haití</option>
     <option value="HN">Honduras</option>
     <option value="HU">Hungría</option>
     <option value="IN">India</option>
     <option value="ID">Indonesia</option>
     <option value="IQ">Irak</option>
     <option value="IR">Irán</option>
     <option value="IE">Irlanda</option>
     <option value="BV">Isla Bouvet</option>
     <option value="CX">Isla de Christmas</option>
     <option value="IS">Islandia</option>
     <option value="KY">Islas Caimán</option>
     <option value="CK">Islas Cook</option>
     <option value="CC">Islas de Cocos o Keeling</option>
     <option value="FO">Islas Faroe</option>
     <option value="HM">Islas Heard y McDonald</option>
     <option value="FK">Islas Malvinas</option>
     <option value="MP">Islas Marianas del Norte</option>
     <option value="MH">Islas Marshall</option>
     <option value="UM">Islas menores de Estados Unidos</option>
     <option value="PW">Islas Palau</option>
     <option value="SB">Islas Salomón</option>
     <option value="SJ">Islas Svalbard y Jan Mayen</option>
     <option value="TK">Islas Tokelau</option>
     <option value="TC">Islas Turks y Caicos</option>
     <option value="VI">Islas Vírgenes (EEUU)</option>
     <option value="VG">Islas Vírgenes (Reino Unido)</option>
     <option value="WF">Islas Wallis y Futuna</option>
     <option value="IL">Israel</option>
     <option value="IT">Italia</option>
     <option value="JM">Jamaica</option>
     <option value="JP">Japón</option>
     <option value="JO">Jordania</option>
     <option value="KZ">Kazajistán</option>
     <option value="KE">Kenia</option>
     <option value="KG">Kirguizistán</option>
     <option value="KI">Kiribati</option>
     <option value="KW">Kuwait</option>
     <option value="LA">Laos</option>
     <option value="LS">Lesotho</option>
     <option value="LV">Letonia</option>
     <option value="LB">Líbano</option>
     <option value="LR">Liberia</option>
     <option value="LY">Libia</option>
     <option value="LI">Liechtenstein</option>
     <option value="LT">Lituania</option>
     <option value="LU">Luxemburgo</option>
     <option value="MK">Macedonia, Ex-República Yugoslava de</option>
     <option value="MG">Madagascar</option>
     <option value="MY">Malasia</option>
     <option value="MW">Malawi</option>
     <option value="MV">Maldivas</option>
     <option value="ML">Malí</option>
     <option value="MT">Malta</option>
     <option value="MA">Marruecos</option>
     <option value="MQ">Martinica</option>
     <option value="MU">Mauricio</option>
     <option value="MR">Mauritania</option>
     <option value="YT">Mayotte</option>
     <option value="MX">México</option>
     <option value="FM">Micronesia</option>
     <option value="MD">Moldavia</option>
     <option value="MC">Mónaco</option>
     <option value="MN">Mongolia</option>
     <option value="MS">Montserrat</option>
     <option value="MZ">Mozambique</option>
     <option value="NA">Namibia</option>
     <option value="NR">Nauru</option>
     <option value="NP">Nepal</option>
     <option value="NI">Nicaragua</option>
     <option value="NE">Níger</option>
     <option value="NG">Nigeria</option>
     <option value="NU">Niue</option>
     <option value="NF">Norfolk</option>
     <option value="NO">Noruega</option>
     <option value="NC">Nueva Caledonia</option>
     <option value="NZ">Nueva Zelanda</option>
     <option value="OM">Omán</option>
     <option value="NL">Países Bajos</option>
     <option value="PA">Panamá</option>
     <option value="PG">Papúa Nueva Guinea</option>
     <option value="PK">Paquistán</option>
     <option value="PY">Paraguay</option>
     <option value="PE">Perú</option>
     <option value="PN">Pitcairn</option>
     <option value="PF">Polinesia Francesa</option>
     <option value="PL">Polonia</option>
     <option value="PT">Portugal</option>
     <option value="PR">Puerto Rico</option>
     <option value="QA">Qatar</option>
     <option value="UK">Reino Unido</option>
     <option value="CF">República Centroafricana</option>
     <option value="CZ">República Checa</option>
     <option value="ZA">República de Sudáfrica</option>
     <option value="DO">República Dominicana</option>
     <option value="SK">República Eslovaca</option>
     <option value="RE">Reunión</option>
     <option value="RW">Ruanda</option>
     <option value="RO">Rumania</option>
     <option value="RU">Rusia</option>
     <option value="EH">Sahara Occidental</option>
     <option value="KN">Saint Kitts y Nevis</option>
     <option value="WS">Samoa</option>
     <option value="AS">Samoa Americana</option>
     <option value="SM">San Marino</option>
     <option value="VC">San Vicente y Granadinas</option>
     <option value="SH">Santa Helena</option>
     <option value="LC">Santa Lucía</option>
     <option value="ST">Santo Tomé y Príncipe</option>
     <option value="SN">Senegal</option>
     <option value="SC">Seychelles</option>
     <option value="SL">Sierra Leona</option>
     <option value="SG">Singapur</option>
     <option value="SY">Siria</option>
     <option value="SO">Somalia</option>
     <option value="LK">Sri Lanka</option>
     <option value="PM">St Pierre y Miquelon</option>
     <option value="SZ">Suazilandia</option>
     <option value="SD">Sudán</option>
     <option value="SE">Suecia</option>
     <option value="CH">Suiza</option>
     <option value="SR">Surinam</option>
     <option value="TH">Tailandia</option>
     <option value="TW">Taiwán</option>
     <option value="TZ">Tanzania</option>
     <option value="TJ">Tayikistán</option>
     <option value="TF">Territorios franceses del Sur</option>
     <option value="TP">Timor Oriental</option>
     <option value="TG">Togo</option>
     <option value="TO">Tonga</option>
     <option value="TT">Trinidad y Tobago</option>
     <option value="TN">Túnez</option>
     <option value="TM">Turkmenistán</option>
     <option value="TR">Turquía</option>
     <option value="TV">Tuvalu</option>
     <option value="UA">Ucrania</option>
     <option value="UG">Uganda</option>
     <option value="UY">Uruguay</option>
     <option value="UZ">Uzbekistán</option>
     <option value="VU">Vanuatu</option>
     <option value="VE">Venezuela</option>
     <option value="VN">Vietnam</option>
     <option value="YE">Yemen</option>
     <option value="YU">Yugoslavia</option>
     <option value="ZM">Zambia</option>
     <option value="ZW">Zimbabue</option>
     </select>
    </div>
    </div>
    </div>
  </div>









<label for="exampleInputEmail1">Ciudad de Residencia Actual</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Provincia / sector / calle / No. de vivienda" @bind-value="@NewIntegrante.Ciudad_Residencia">
<br>
<label for="exampleInputEmail1">Direccion</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Provincia / sector / calle / No. de vivienda" @bind-value="@NewIntegrante.Direccion">
<br>
    <div class="row">
      <div class="col">
  <label for="exampleInputEmail1">Telefono</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Tel." @bind-value="@NewIntegrante.Telefono">
  </div>
  <div class="col">
  <label for="exampleInputEmail1">Celular</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Celular" @bind-value="@NewIntegrante.Numero">
    </div>
    </div>
    <br>
    <label for="exampleInputEmail1">Correo Electronico</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Correo Electronico" @bind-value="@NewIntegrante.Correo">

<div class="row">
      <div class="col">
<br>
<br>
<label for="exampleInputEmail1">Tipo de Documento de Identidad : </label>
<select name="Tipo_documento" @bind="@NewIntegrante.Tipo_Documento">
     <option value="Seleccionar">Seleccionar</option>
     <option value="Cedula" >Cedula</option>
     <option value="Pasaporte">Pasaporte</option>
     <option value="DNI">DNI</option>
     </select>




  </div>
  <div class="col">
  <label for="exampleInputEmail1">Documento Identidad</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Documento de Identidad" @bind-value="@NewIntegrante.Documento">
    </div>
    </div>
</center>

<center>
<br>
  <h2>Datos Familiares</h2>
<br>
</center>

  <div class="row">
      <div class="col">

  <label for="exampleInputEmail1">Estado Civil : </label>
  <select name="Estado_civil" @bind="@NewIntegrante.Tipo_Documento">
     <option value="Seleccionar">Seleccionar</option>
     <option value="Casado" >Casado</option>
     <option value="Soltero">Soltero</option>
     
     </select>
<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombre del Esposo/a" @bind-value="@NewIntegrante.Nombre_Conyuge">
  </div>

  <div class="col">

<label for="exampleInputEmail1">Hijos : </label>
<select name="Hijos" @bind="@NewIntegrante.Hijos">
     <option value="Seleccionar">Seleccionar</option>
     <option value="Si" >Si</option>
     <option value="No">No</option>
     
     </select>
<br>
<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Numeros de Hijos" @bind-value="@NewIntegrante.Cantidad_Hijos">

    </div>
    </div>

    
<center>
<br>
  <h2>Datos Laborales</h2>
<br>

  <div class="row">
      <div class="col">

  <label for="exampleInputEmail1">Profesion </label>
<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Profesion" @bind-value="@NewIntegrante.Profesion">
  </div>

  <div class="col">

<label for="exampleInputEmail1">Ocupacion Actual</label>
<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Ocupacion" @bind-value="@NewIntegrante.Ocupacion">

    </div>
    </div>
<br>
  <div class="row">
      <div class="col">

<label for="exampleInputEmail1">Nombre de Empresa o Negocio</label>
<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Empresa o Negocio" @bind-value="@NewIntegrante.Nombre_Empresa">
  </div>

  <div class="col">

<label for="exampleInputEmail1">Telefono</label>
        <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Tel." @bind-value="@NewIntegrante.Telefono_Empresa">

    </div>
    </div>
    </center>

    
 <center>
<br>
  <h2>Datos	Eclesiasticos</h2>
<br>

  <div class="row">
      <div class="col">

<label for="exampleInputEmail1">Fecha de Convercion </label>
    <input id="date" type="date" @bind-value="@NewIntegrante.Fecha_Conversion">
  </div>

  <div class="col">

<label for="exampleInputEmail1">Fecha de Bautismo </label>
    <input id="date" type="date" @bind-value="@NewIntegrante.Fecha_Bautismo">

    </div>
     <div class="col">

<label for="exampleInputEmail1">Fecha de aceptacion </label>
    <input id="date" type="date" @bind-value="@NewIntegrante.Fecha_Miembro">

    </div>
    </div>
    </center>
<br>

  <div class="row">
      <div class="col">
  <label for="exampleInputEmail1">Denominación	a	la	que	pertenece :  </label>
  <br>
    <div class="col">
      <select name="Denominacion" @bind="@NewIntegrante.Denominacion">
     <option value="Seleccionar">Seleccionar</option>
     <option value="Bautista" >Bautista</option>
     <option value="Pentecostal">Pentecostal</option>
     <option value="Metodista">Metodista</option>
     <option value="Católica">Católica</option>
     <option value="Presbiteriana">Presbiteriana</option>
     <option value="Adventista">Adventista</option>
     <option value="Templo Biblico">Templo Biblico</option>
     <option value="Menonita">Menonita</option>
     <option value="Luterana">Luterana</option>
     </select>
     <label for="exampleInputEmail1">Otra: </label>
<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Otra denominacion" @bind-value="@NewIntegrante.Denominacion">
  
       
</div>
 </div>
    </div>
    <br>
    <br>

    <center>
<div class="row">
      <div class="col">

  <label for="exampleInputEmail1">Nombre	de	la	Iglesia	a	la	que	asiste	actualmente</label>
<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Profesion" @bind-value="@NewIntegrante.Nombre_Iglesia">
  </div>

  <div class="col">

<label for="exampleInputEmail1">Si asiste a esta Iglesia por un	tiempo menor a un año, ¿dónde	se congregaba	antes?</label>
<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Iglesia" @bind-value="@NewIntegrante.Congregacion_Anterior">

    </div>
    </div>
    <div class="row">
      <div class="col">
<br>
  <label for="exampleInputEmail1">Nombre	del	pastor	de	su	iglesia	actual</label>
<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Pastor" @bind-value="@NewIntegrante.Nombre_Pastor">
  </div>


  <div class="col">
<br>
<label for="exampleInputEmail1">¿Ha	sido	disciplinado	alguna	vez? </label>
<select name="Hijos" @bind="@NewIntegrante.Disciplina">
     <option value="Seleccionar">Seleccionar</option>
     <option value="Si" >Si</option>
     <option value="No">No</option>
     
     </select>

 	<label for="exampleInputEmail1">¿cuántas	veces?	</label>
<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Cantidad">

    </div>
    </div>
    </center>
<br>
    <label for="exampleInputEmail1">Causas</label>
<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Causas" @bind-value="@NewIntegrante.Causas_Disciplina">
<br>

  <div class="row">
      <div class="col">
  <label for="exampleInputEmail1">En	la	actualidad	ocupa	usted alguna	de	estas	funciones: </label>
  <br>
    <div class="col">
 
 <select name="Ocupacion" @bind="@NewIntegrante.Ocupacion">
     <option value="Seleccionar">Seleccionar</option>
     <option value="Pastor" >Pastor</option>
     <option value="Anciano">Anciano</option>
     <option value="Misionero">Misionero</option>
     <option value="Lider Escuela Dominical">Lider Escuela Dominical</option>
     <option value="Lider Minist. de Jóvenes">Lider Minist. de Jóvenes</option>
     <option value="Lider Minist. de damas">Lider Minist. de damas</option>
     <option value="Lider Minist. de caballeros">Lider Minist. de caballeros</option>
     <option value="Lider Minist. de niños">Lider Minist. de niños</option>
     <option value="Lider de grupo pequeño">Lider de grupo pequeño</option>
     </select>

</div>
 </div>
    </div>

   <div class="row">
      <div class="col">
<br>
  <label for="exampleInputEmail1">¿Cuáles	son	los	ministerios	en	los	que	ha	servido?	</label>
<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Pastor" @bind-value="@NewIntegrante.Pregunta1">
  </div>


  <div class="col">
<br>
<label for="exampleInputEmail1">¿En	cuál	de	estos	ministerios	considera	que	tuvo	mayor	fruto?	¿Por	qué?</label>
<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Cantidad" @bind-value="@NewIntegrante.Pregunta2">

    </div>
    </div>


   <div class="row">
      <div class="col">
<br>
  <label for="exampleInputEmail1">Considerando	sus	dones	y	talentos,	¿a	qué	ministerio	cree	usted	que	Dios	lo	está	llamando?</label>
<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Pastor" @bind-value="@NewIntegrante.Pregunta3">
  </div>

  <div class="col">

<br>
<label for="exampleInputEmail1">¿Qué	metas	tiene	para	su	vida?	</label>
  <br>
  <br>
<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Cantidad" @bind-value="@NewIntegrante.Pregunta4">

    </div>
    </div>
<br>
<label for="exampleInputEmail1">¿Cuenta	con	el	respaldo	de	sus	autoridades	eclesiásticas	para	realizar	estos	estudios?	 </label>
 <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Si/No" @bind-value="@NewIntegrante.Pregunta5">



<center>
    <br>
<h2>Datos Academicos</h2>
<br>
</center>

<center>

  <div class="row">
      <div class="col">
  <label for="exampleInputEmail1">Nivel	de	estudio:	</label>
  <select name="estudio" @bind="@NewIntegrante.Nivel_Estudio">
     <option value="Seleccionar">Seleccionar</option>
     <option value="PR" >Primaria</option>
     <option value="SE">Secundaria</option>
     <option value="TE">Tecnico</option>
     <option value="GR">Grado</option>
     <option value="PO">Postgrado-Maestria</option>
     <option value="DO">Doctorado</option>
     </select>
    
  </div>
  <div class="col">
  
  <label for="exampleInputEmail1">¿Alguna	vez	ha	sido	expulsado	o	suspendido	de	alguna	institución? </label>
  <select name="estudio" @bind="@NewIntegrante.Expulsado">
     <option value="Seleccionar">Seleccionar</option>
     <option value="Si" >Si</option>
     <option value="No">No</option>
     </select>
    </div>
    </div>
</center>
<br>

<label for="exampleInputEmail1">	En	caso	afirmativo,	¿por	qué	razón?</label>
<input type="text" class="form-control" id="" placeholder="Razon" @bind-value="@NewIntegrante.Razon_Expulsion">

<br>
<br>
<button type="submit" class="btn btn-primary btn-lg btn-block" @onclick="AddIntegrante">Agregar</button>
<br>
</EditForm>
</div>

@code{

    IFileListEntry image;

    async Task HandleSelectImagen(IFileListEntry[] Images) 
    {
        image = Images.FirstOrDefault();
    }
    public Modelo NewIntegrante {get; set;} = new Modelo();

    public async Task AddIntegrante(){
      await service.AddIntegranteAsync(NewIntegrante, image);
      NewIntegrante= new Modelo();
    } 

}